body {
    font-family: 'Ubuntu', sans-serif;
    background-color:#E6E6FA;
}

header {
    background-image: url(../img/bg-header.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.logo {
    position: relative;
    width: 40%;
    margin-left: 50px;
}

.container-header {
    width: 950px;
    margin: 0 auto;
}

.container-botao-inscrever {
    position: absolute;
    right: 30%;
    top: 20%;
}

.botao-inscrever {
    text-decoration:none;
    text-transform: uppercase;
    color:#FFFFFF;
    font-size: 20px;
    background-color: #2ECC71;
    padding: 15px 20px;
    border-radius: 20px;
    transition: background-color 0.5s;
}

.botao-inscrever:hover {
    background-color: #229954;
}

@media screen and (max-width: 950px){
  
    header {
        text-align: center;
        background-size: 100%;
    }

    .logo{
        margin: 0 0 ;
        width: 70%;
    }

    .container-header {
        width: 250px;
        margin: 0 auto;
    }

    .container-botao-inscrever {
        position: static;
        padding: 20px 0;
    }

    .botao-inscrever {        
        font-size: 13px;
        padding: 10px 15px;
    }

}

@media screen and (max-width: 600px){
    header {
        background-size: auto;
    }
}


/*Tópicos*/

.topicos {
    text-align: center;
    padding: 20px 0;
    background-color: #6100a1 ;
}

.lista-topicos li {
    display: inline-block;
    margin: 5px 15px;
}

.lista-topicos a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.lista-topicos a:hover {
    color:#2ECC71 ;
}


@media screen and (max-width: 950px){

    .lista-topicos li {
        display: inline-block;
        margin: 10px 10px;
    }
    
    .lista-topicos a {
        font-size: 13px;
    }
}
