.como-apoiar .titulo {
	text-align: center;
	font-size: 30px;
    margin: 2% 0;
    font-weight: bold;
    color: #6100a1;
    text-transform: uppercase;
}

.como-apoiar .sub-titulo {
	font-size: 22px;
    text-align: center;
    margin: 2%;
}

.como-apoiar li {
	margin-left: 5%;
	margin-bottom: 3%;
	font-weight: bold;
	font-size: 22px;
}