.objetivos{
    text-align: center;
    width: 60%;
    margin: 2% auto;
}

.objetivos:not(.item-objetivo){
    color: #6100a1;
}

.objetivos .titulo {
    font-size: 30px;
    text-transform: uppercase;
    margin: 3% 0;
    font-weight: bold;
}

.item-objetivo {
    border: 1px solid #2ecc71;
    background-color: #2ecc71;
    box-shadow: -2px -2px 6px #808080, 2px 2px 6px #808080;
    color: #FFFFFF;
    display: inline-block;
    text-align: center;
    padding: 15px 20px;
    width: 300px;
    height: 200px;
    margin: 10px 10px;
    vertical-align: top;
    border-radius: 20px;
    transition: border-color 0.5s;
}

.numero-objetivo {
    text-align: left;
    vertical-align: top;
    font-size: 35px;
    padding: 10px 10px;
}

.sobre-objetivo {
    font-size: 18px;
    line-height: 25px;
    font-weight:bold;
}

.item-objetivo:hover {
    border-color:#6100a1;
}


@media screen and (max-width: 600px){
    
    .objetivos .titulo {
        font-size: 25px;
        font-weight:bold;
        margin: 15px 0;
        text-transform: uppercase;
    }
    
    .item-objetivo {
        width: 200px;
        margin: 10px 0;
    }
    
    .numero-objetivo {
        font-size: 25px;
    }
    
    .sobre-objetivo {
        font-size: 15px;
        line-height: 20px;
    }
    

}

@media screen and (max-width: 420px){
    .item-objetivo{
        width: 80%;
        height: auto;
    }
}