footer {
	background-color: #F1C40F;
	padding: 3em 0;
}

footer .titulo {
	font-size: 30px;
	font-weight: bold;
	color: #6100a1;
	text-align: left;
	padding-left: 2%;
	text-transform: uppercase;
	display: block;
	margin-bottom: 95px;
}

footer a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 20px;
	display: inline-block;
}

footer .logo-contato {
	width: 60px;
	text-align: left;
	display: inline-block;
	margin-left: 5%;
}