footer {
	background-color: #F1C40F;
	padding: 3em 0;
	padding: 0 5%;
}

footer .titulo {
	font-size: 30px;
	font-weight: bold;
	color: #6100a1;
	text-transform: uppercase;
	display: inline-block;
	margin-bottom: 20px;
}

.rodape{
	display: flex;
	justify-content: space-between;

}

.item-contato{
	margin: 30px 0;
}

.list-meios-de-contato{
	display: inline-block;
	width: 50%;
}

#titulo-meios-contato {
	text-align: left;
	padding-left: 3%;
}

.feito-por{
	width: 50%;
	text-align: start;
}

#titulo-feito-por {
	padding-left: 50%;
	padding-right: 3%;
}

footer a {
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	display: inline;
	vertical-align: middle;
}

footer .logo-contato {
	width: 60px;
	text-align: left;
	margin-left: 5%;
	vertical-align: middle;
	padding-right: 2%;
	margin-bottom: 20px;
}

.lista-desenvolvedor{
	display: flex;
	flex-direction: column;
	align-items: end;
	justify-content: center;
}

.desenvolvedor{
	width: 50%;
	background: radial-gradient(#780ff1 10% ,#5A0F80 80%);
	border-radius: 20px; 
	margin: 10px 0;
	text-align: center;
	padding: 2px 10px;
	transition: all 1s;
}

.desenvolvedor:hover {
	transform: scale(1.1);
}

.nome-dev{
	color: #f1c40f;
	font-size: 25px;
	margin: 5% 0;
}

.desenvolvedor p {
	color: #FFFFFF;
	margin: 5% 0;
}

.desenvolvedor img {
	float: left;
	width: 30%;
	margin: 10px 0;
	border-radius: 50px;
	border: 2px solid #F1C40F;
}


@media screen and (max-width: 1300px){

	.nome-dev{
		font-size: 20px;
	}

	.desenvolvedor img {
		float: none;
		width: 50%;
	}


}

@media screen and (max-width: 750px){
	.rodape{
		flex-direction: column;
	}

	.feito-por{
		width: 90%;
	}

	#titulo-meios-contato{
		padding: initial;
	}

	#titulo-feito-por{
		text-align: left;
		padding: initial;
	}

	.lista-desenvolvedor{
		display: inline-block;
		text-align: center;
	}

	.desenvolvedor{
		flex: none;
		text-align: center;
		width: 70%;
		margin: 5% 0;
	}

	.list-meios-de-contato{
		width: 100%;
	}

}

@media screen and (max-width: 400px){
	.desenvolvedor{
		width: 100%;
		margin: 10% 0;
	}

	footer .logo-contato{
		margin: 0 2% 20px 0;
	}

	.item-contato a{
		font-size: 17px;
	}
}