.topicos {
    text-align: center;
    padding: 20px 0;
    background-color: #6100a1 ;
}

.lista-topicos li {
    display: inline-block;
    margin: 5px 15px;
}

.lista-topicos a {
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
}

.lista-topicos a:hover {
    color:#2ECC71 ;
}


@media screen and (max-width: 950px){

    .lista-topicos li {
        display: inline-block;
        margin: 10px 10px;
    }
    
    .lista-topicos a {
        font-size: 13px;
    }
}
