.video {
	text-align: center;
	background:linear-gradient(#6100a1,#F1C40F) ;
	padding: 20px 0;
    margin: 0 auto;
}

.video .titulo {
	font-size: 30px;
	text-transform: uppercase;
    font-weight:bold;
    padding: 0 10px;
    color: #F1C40F;
}

.video h2 {
	font-size: 25px;
	font-weight: unset;
	color: #FFFFFF; 
	margin-top: 20px;
}

.video iframe {
	margin-top: 45px;
	margin-bottom: 45px;
	border-radius: 10px;
}

@media screen and (max-width: 600px){
    
    .video .titulo {
        font-size: 25px;
        font-weight:bold;
        margin: 15px 0;
        text-transform: uppercase;
    }
    
    .video-iframe {
        width: 85%;
        margin: 10px 0;
    }


}